
$first-color: #00dab6 //vert de gris
$second-color: #ffc472 //orange 
$third-color: #87eada // bleu
$fourth-color: #6463f7 //violet
$btn-color: #fe444c // rouge

@import navbar.sass
@import first-sec.sass
@import second-sec.sass
@import third-sec.sass
@import fourth-sec.sass
@import footer.sass

body , html
    height: 400vh
    margin: 0
    padding: 0
    image-rendering: auto
    font-family: 'Questrial', sans-serif
    //font-family: 'Poppins', sans-serif


section
    position: relative

.rond
    background-image: url("../img/2.jpg")
    background-size: 150%
    background-position: center
    background-repeat: no-repeat
    margin-top: 10vh
    width: 200px
    height: 500px
    background-color: blue
    border-radius: 40%
        
article
    padding-top: 15vh
   
p   
    
    margin-bottom: 20px
    font-size: 25px
    color: black
    bottom: 0

.container 
    max-width: 1250px

h1 , h2 , h3 
    font-size: 5em
    margin-bottom: 0.7em

h2
    text-align: left 
    color: black 
h1 
    text-align: right 
    color: white 
h3 
    text-align: right

.arrow-black 
    width: 30px
    background-color: black
    color: white

.arrow-white
    width: 30px
    background-color: white
    color: black

    