section:nth-child(1) {
  height: 100vh;
  width: 100%;
  background-image: url("../img/3.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

nav {
  padding-top: 1%;
  height: 10vh;
  background-color: rgba(255, 255, 255, 0); }
  nav ul p {
    color: white;
    font-size: 30px;
    text-align: left;
    margin-left: -30px;
    margin-top: 5vh; }
  nav ul li {
    list-style-type: none;
    margin-top: 5vh; }
    nav ul li a {
      color: white;
      font-size: 20px; }

form {
  margin-top: 5%;
  margin-right: 5%;
  width: 25%;
  height: 75vh;
  background-color: white;
  border-radius: 5%;
  float: right; }
  form div p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: #6463f7;
    font-size: 30px;
    text-align: left; }

.input-group {
  margin: 4%;
  margin-left: 9%;
  border-radius: 100% !important; }

.btn-primary {
  background-color: #fe444c !important;
  border: none !important;
  margin: 5% auto auto auto;
  border-top-left-radius: 50% !important;
  border-top-right-radius: 20% !important;
  border-bottom-right-radius: 50% !important;
  border-bottom-left-radius: 20% !important; }

.absolute-pic {
  position: absolute;
  width: 50%;
  top: -10px;
  left: 0px;
  opacity: 1; }

.point {
  position: absolute;
  top: 10px;
  left: 0;
  width: 0.5%;
  animation: point-qui-bouge 2s 2s forwards linear;
  opacity: 0; }

.logo {
  width: 10px;
  height: 67px;
  padding-left: 45px !important;
  margin-top: 10px;
  margin-right: -30px; }

.texte-du-logo {
  padding-left: 0px !important;
  margin-top: auto;
  margin-bottom: 11px;
  margin-right: 200px; }

@keyframes point-qui-bouge {
  0% {
    top: 35px;
    left: 0; }
  15% {
    top: 4px; }
  25% {
    top: 0px;
    opacity: 0.3; }
  35% {
    top: 4px;
    opacity: 0.6; }
  50% {
    top: 35px;
    opacity: 0.9; }
  65% {
    top: 4px; }
  75% {
    top: 0px; }
  85% {
    top: 4px; }
  100% {
    top: 35px;
    left: 417px;
    opacity: 1; } }
section:nth-child(2) {
  height: 100vh;
  width: 100%;
  background-color: #00dab6; }

#section-deux h1 {
  font-size: 4em !important;
  text-align: left !important;
  color: white !important; }
#section-deux p {
  color: white; }

section:nth-child(3) {
  height: 100vh;
  width: 100%; }

.low-section {
  background-color: white;
  width: 101%;
  height: 19vh; }
  .low-section button {
    margin: auto; }

section:nth-child(4) {
  height: 100vh;
  width: 100%;
  background-color: #ffc472; }

.rond {
  width: 200px;
  height: 500px;
  background-color: blue;
  border-radius: 40%; }

body, html {
  height: 400vh;
  margin: 0;
  padding: 0;
  image-rendering: auto; }

section {
  position: relative; }

.rond {
  background-image: url("../img/2.jpg");
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid black;
  margin-top: 10vh; }

article {
  padding-top: 20vh; }
  article h1 {
    text-align: center;
    color: black; }

p {
  font-size: 30px;
  color: black;
  text-align: center;
  bottom: 0; }

padding {
  width: 80% !important;
  margin: auto !important; }

/*# sourceMappingURL=main.css.map */
